/*
Background color #101820
For tables bg we use - #151E27
For tables, or other containers borders we use - #202E3C
Links, buttons color - #61F0FE
*/

/*.navigation {*/
/*  text-align: center;*/
/*}*/

/*.header {*/
/*  padding: 20px 0;*/
/*  text-align: center;*/
/*  background-color: transparent;*/
/*}*/

/*.header a:hover {*/
/*  background-color: transparent;*/
/*}*/

/*.footer {*/
/*  text-align: center;*/
/*  margin-top: 5rem;*/
/*}*/

body {
  display: flex;
  flex-direction: column;
  font-family: "Space Grotesk", Cousine, menlo, monospace;
  font-size: medium;
  line-height: 1.3;
  background-color: #101820;
  margin-left: auto;
  margin-right: auto;
  color: white;
  text-align: center;
  word-wrap: break-word;
  padding: 24px 0;
}

h1 {
  margin: 24px;
}

h2 {
  margin: 24px;
}

table {
  background-color: #151E27;
  border-collapse:separate;
  border: solid #202E3C 1px;
  border-radius: 10px;
  border-spacing: 0;
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
  width: 100%;
}

table tr:last-child {
  border-bottom: none;
}

th {
  color: #707A8A;
  font-weight: normal;
  padding: 12px 12px;
  border-bottom: solid #202E3C 1px;
}

td {
  margin: 100px 0;
  padding: 12px 12px;
  border-bottom: solid #202E3C 1px;
}

table th:first-child {
  text-align: left;
  padding-left: 24px;
  padding-right: 12px;
}

table th:last-child {
  text-align: right;
  padding-left: 12px;
  padding-right: 24px;
}

table td:first-child {
  text-align: left;
  padding-left: 24px;
  padding-right: 12px;
}

table td:last-child {
  text-align: right;
  padding-left: 12px;
  padding-right: 24px;
}

a:link, a:visited {
  color: #61F0FE;
}

a:hover {
  color: #101820;
  background-color: #61F0FE;
}

a:active {
  color: white;
}

.monoFont {
  font-family: "Space Grotesk Mono", monospace;
}

.color-green {
  color: yellowgreen;
}

.color-red {
  color: red;
}

.smaller {
  font-size: smaller;
}

.small {
  font-size: x-small;
}

.grey {
  color: #707A8A;
}

.leftAlign {
  text-align: left;
}

.rightAlign {
  text-align: right;
}
