.header {
  float: left;
}

h1 {
  color: #B0F9FF;
}

body {
  font-family: Cousine, menlo, monospace;
  font-size: medium;
  line-height: 1.3;
  background-color: black;
  color: white;
}

a {
  background-color: #101820;
}

table {
  background-color: #101820;
  border-collapse:separate;
  border: solid #76AFB4 1px;
  border-radius:5px;
  border-spacing: 0;
}

th {
  background-color: #76AFB4;
  color: #00161D;
  border-radius: 2px;
  font-weight: normal;
}

a:link, a:visited {
  color: #B0F9FF;
}

a:hover {
  color: #101820;
  background-color: #76AFB4;
}

a:active {
  color: white;
}

.color-green {
  color: yellowgreen;
}

.color-red {
  color: red;
}

.info {
  text-align: left;
  font-size: medium;
  color: white;
}

.smaller {
  text-align: left;
  font-size: smaller;
  color: white;
}

/*.small {*/
/*  text-align: left;*/
/*  font-size: x-small;*/
/*  color: white;*/
/*}*/
